<head>
  <title>OpenForum Main Page</title>
  {% include 'header.html' %}
</head>
<body class='{{ theme }}'>
  {% include 'nav.html' %}
  <div class='container'>
  {% if error_message %}
  <div class='alert alert-danger'><p>{{ error_message }}</p></div>
  {% endif %}
  <div class='col-xs-3'>
  {% include 'login.html' %}
</div>
  <div>
  {% if board_list %}
  {% for board in board_list %}
  <p><a href="/openforum/{{board.name}}/">{{ board.name }}</a></p>
  {% endfor %}
  {% else %}
  <p>No available boards to display</p>
  {% endif %}
  </div>
</div>
</body>
