<head>
  <title>Register your account</title>
  {% include 'header.html' %}
</head>
<body class="{{ theme }}">
  {% include 'nav.html' %}
  <div class='container'>
  <h2>Register with us!</h2>
  <form name='register' method="post" action='/openforum/makeaccount/'>
    {% csrf_token %}
    <input type='text' name='username' id='username' placeholder="Username"/>
    <input type='password' name='password1' id='password1' placeholder="Password"/>
    <input type='password' name='password2' id='password2' placeholder="Verify Password"/>
    <input type='email' name='email' id='email' placeholder="E-Mail address"/>
    <button type='submit' onclick="RegisterValidate()">Submit</button>
  </form>
</div>
</body>
